<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Serviciile mele</title>

    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
          rel="stylesheet">

    <link rel="stylesheet"
          th:href="@{/css/style.css}">
</head>

<body>

<!-- NAVBAR -->
<div th:replace="~{fragments/navbar :: navbar}"></div>

<!-- ADMIN PAGE -->
<div class="container py-4">

    <h5 class="fw-bold mb-3 text-dark">

        Dashboard Administrator

    </h5>

    <div class="row g-4">

        <!-- Total Business -->
        <div class="col-lg-3 col-md-4">

            <a class="dashboard-card-link"
               th:href="@{/admin/businesses}">

                <div class="dashboard-card" style="border-top: 5px solid">

                    <i class="bi bi-buildings-fill dashboard-icon text-dark"></i>

                    <h2 class="text-muted" th:text="${totalBusinesses}"></h2>

                    <p>Servicii</p>

                </div>
            </a>

        </div>

        <!-- Pending -->
        <div class="col-lg-3 col-md-4">

          <a th:href="@{/admin/businesses(status='PENDING')}"
             class="dashboard-card-link">

            <div class="dashboard-card warning-card">

              <i class="bi bi-hourglass-split dashboard-icon text-dark"></i>

              <h2 class="text-muted" th:text="${pendingBusinesses}"></h2>

              <p>În așteptare</p>

            </div>

          </a>

        </div>

        <!-- Reviews -->
        <div class="col-lg-3 col-md-4">

          <a th:href="@{/admin/reviews}"
             class="dashboard-card-link">

            <div class="dashboard-card success-card">

              <i class="bi bi-star-fill dashboard-icon text-dark"></i>

              <h2 class="text-muted" th:text="${totalReviews}"></h2>

              <p>Recenzii</p>

            </div>

          </a>

        </div>

        <!-- Users -->
        <div class="col-lg-3 col-md-4">

          <a th:href="@{/admin/users}"
             class="dashboard-card-link">

            <div class="dashboard-card primary-card">

              <i class="bi bi-people-fill dashboard-icon text-dark"></i>

              <h2 class="text-muted" th:text="${totalUsers}"></h2>

              <p>Utilizatori</p>

            </div>

          </a>

        </div>

        <!--Subscriptions -->
        <div class="col-lg-3 col-md-4">

            <a th:href="@{/admin/subscriptions}"
               class="dashboard-card-link">

                <div class="dashboard-card primary">

                    <i class="bi bi-credit-card-fill dashboard-icon text-dark"></i>

                    <h2 class="text-muted"
                        th:text="${totalSubscriptions}">
                    </h2>

                    <p>Abonamente</p>

                </div>

            </a>

        </div>

        <!--Plans -->
        <div class="col-lg-3 col-md-4">

            <a th:href="@{/admin/plans}"
               class="dashboard-card-link">

                <div class="dashboard-card primary">

                    <i class="bi bi-credit-card-fill dashboard-icon text-dark"></i>

                    <h2 class="text-muted"
                        th:text="${plans}">
                    </h2>

                    <p>Planuri de abonamente</p>

                </div>

            </a>

        </div>

    </div>

</div>


<div th:replace="~{fragments/footer :: footer}"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>