<nav aria-label="Breadcrumb" th:fragment="breadcrumbs(items)">

    <ol class="breadcrumb">

        <li class="breadcrumb-item"
            th:classappend="${step.last} ? 'active' : ''"
            th:each="item, step : ${items}">

            <a class="text-muted" th:href="@{${item.url}}"
               th:if="${!step.last}"
               th:text="${item.label}">
            </a>

            <span aria-current="page"
                  th:if="${step.last}"
                  th:text="${item.label}">
            </span>

        </li>

    </ol>

</nav>