<nav class="navbar navbar-expand-lg px-3 sticky-top"
     th:fragment="navbar"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     xmlns:th="http://www.thymeleaf.org">

    <!-- LEFT SIDE -->
    <a class="navbar-brand" href="/businesses">
        EventApp
    </a>

    <!-- RIGHT SIDE -->
    <div class="ms-auto d-flex gap-2">

        <!-- FAVORITES -->
        <a class="btn text-dark"
           href="/favorites"
           sec:authorize="isAuthenticated()">
            Favorites
        </a>

        <!-- DASHBOARD (BUSINESS) -->
        <a class="btn text-dark"
           href="/dashboard"
           sec:authorize="hasRole('BUSINESS')">
            My Business
        </a>

        <!-- LOGOUT -->
        <form method="post" sec:authorize="isAuthenticated()"
              th:action="@{/logout}">

            <button class="btn text-dark " type="submit">
                Logout
            </button>

        </form>

        <!-- LOGIN (guest) -->
        <a class="btn btn-light"
           href="/login"
           sec:authorize="isAnonymous()">
            Login
        </a>

    </div>

</nav>