<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Home</title>
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
          rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
          rel="stylesheet">

    <link rel="stylesheet"
          th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<!--CATEGORIES-->
<div class="container py-3 fluid px-3">

    <div class="mb-2">
        <h4 class="fw-bold mb-1 text-muted">
            Categorii
        </h4>

        <p class="text-muted mb-0">
            Alege o categorie și explorează serviciile disponibile
        </p>
    </div>

    <div class="category-carousel">

        <a class="category-chip"
           th:each="category : ${categories}"
           th:href="@{/businesses/category/{category}(category=${category})}">

            <i class="bi"
               th:classappend="' ' + ${category.icon}"></i>

            <span th:text="${category.displayName}"></span>

        </a>

    </div>

    <!--    Premium section-->
    <section class="premium-section mt-4">

        <h4 class="fw-bold text-muted">
            Servicii premium
        </h4>

        <div class="premium-scroll category-carousel">


            <div class="premium-card"
                 th:each="b : ${premiumBusinesses}"
                 th:onclick="|window.location='/business/' + ${b.id}|">

                <!-- badge -->
                <span class="premium-badge">PREMIUM</span>

                <!-- imagine -->
                <div class="premium-image"
                     th:style="|background-image: url('${b.imagePath}')|">
                </div>

                <!-- text -->
                <div class="premium-info">

                    <h5 class="premium-title"
                        th:text="${b.name}">
                    </h5>

                    <p class="premium-county"
                       th:text="${b.city}">
                    </p>

                </div>

            </div>

        </div>

    </section>

    <!--    Top favorite section-->
    <section class="favorite-section mt-4">

        <h4 class="section-title fw-bold text-muted">
            Top servicii favorite
        </h4>

        <div class="premium-scroll category-carousel">

            <div class="premium-card"
                 th:each="b : ${mostFavoriteBusinesses}"
                 th:onclick="|window.location='/business/' + ${b.id}|">

                <span class="favorite-badge">TOP FAVORITE <span class="favorite-heart-badge">♥</span></span>

                <div class="premium-image"
                     th:style="|background-image: url('${b.imagePath}')|">
                </div>

                <div class="premium-info">

                    <h5 class="premium-title"
                        th:text="${b.name}"></h5>

                    <p class="premium-county"
                       th:text="${b.city}"></p>

                </div>

            </div>

        </div>

    </section>

    <!--    Top-rated section-->
    <section class="top-rated-section mt-4">

        <h4 class="section-title fw-bold text-muted">
            Top servicii apreciate
        </h4>

        <div class="premium-scroll category-carousel">

            <div class="premium-card"
                 th:each="b : ${topRatedBusinesses}"
                 th:onclick="|window.location='/business/' + ${b.id}|">

                <span class="top-rating-badge">TOP APRECIATE <span class="top-star-badge">★</span></span>

                <div class="premium-image"
                     th:style="|background-image: url('${b.imagePath}')|">
                </div>

                <div class="premium-info">

                    <h5 class="premium-title"
                        th:text="${b.name}"></h5>

                    <p class="premium-county"
                       th:text="${b.city}"></p>

                    <span class="fs-6 text-warning">★</span>
                    <span class="premium-county" th:text="${#numbers.formatDecimal(b.averageRating, 1, 1)}"></span>

                </div>


            </div>

        </div>

    </section>

</div>

<div th:replace="~{fragments/footer :: footer}"></div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const savedScrollPosition = sessionStorage.getItem("scrollPosition");

        if (savedScrollPosition !== null) {
            window.scrollTo(0, parseInt(savedScrollPosition));
            sessionStorage.removeItem("scrollPosition");
        }

        document.querySelectorAll(".favorite-form").forEach(form => {
            form.addEventListener("submit", function () {
                sessionStorage.setItem("scrollPosition", window.scrollY);
            });
        });
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const navLinks = document.querySelectorAll(".navbar-collapse .nav-link");
        const navbarCollapse = document.querySelector(".navbar-collapse");

        navLinks.forEach(link => {
            link.addEventListener("click", () => {
                if (navbarCollapse.classList.contains("show")) {
                    const bsCollapse = new bootstrap.Collapse(navbarCollapse);
                    bsCollapse.hide();
                }
            });
        });
    });
</script>
<!--mouse scroll-->
<script>
    document.querySelectorAll('.category-carousel, .premium-scroll, .county-scroll')
        .forEach(carousel => {

            carousel.addEventListener('wheel', function (e) {

                e.preventDefault();

                this.scrollLeft += e.deltaY;

            }, {passive: false});

        });
</script>

<!--drag scroll-->
<script>
    document.querySelectorAll('.category-carousel, .premium-scroll, .county-scroll')
        .forEach(carousel => {

            let isDown = false;
            let startX;
            let scrollLeft;

            carousel.addEventListener('mousedown', (e) => {
                isDown = true;
                carousel.classList.add('dragging');
                startX = e.pageX - carousel.offsetLeft;
                scrollLeft = carousel.scrollLeft;
            });

            carousel.addEventListener('mouseleave', () => {
                isDown = false;
                carousel.classList.remove('dragging');
            });

            carousel.addEventListener('mouseup', () => {
                isDown = false;
                carousel.classList.remove('dragging');
            });

            carousel.addEventListener('mousemove', (e) => {

                if (!isDown) return;

                e.preventDefault();

                const x = e.pageX - carousel.offsetLeft;
                const walk = (x - startX) * 1.5;

                carousel.scrollLeft = scrollLeft - walk;

            });

        });
</script>

</body>
</html>